.textformat {
    color: #ffffff;
  }

.textformat2 {
  color: #ffffff;
  text-shadow: -1px 0px 0 #17408B, 0px 1px 0 #17408B, 1px 0px 0 #17408B, 0px -1px 0 #17408B;
}

#gender{
    width:375px;   
  }

#age{
    width:375px;   
  }

#income{
    width:375px;   
  }

#education{
    width:375px;   
  }

#location{
    width:375px;   
  }

body {

    color: #eafcfd;
  }

a { color: inherit; } 

.jumbotron {
  background-image: url("../images/basketball_header.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  }

iframe {
  display:block;
  margin-left:auto;
  margin-right:auto;
}