.strokeme {
    color: white;
    text-shadow: -1px 0px 0 #000, 0px 1px 0 #000, 1px 0px 0 #000, 0px -1px 0 #000;
  }

body {

    color: #eafcfd;
}

.jumbotron {
  background-image: url("../images/bed_banner.jpeg");
  text-align: center;
}